

:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navyblue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --lightslate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navybluemodal: #2E2F42;
  --grey: #2E2F42;
  --white: #fff;
  --dairy: #FCFCFC;
}


body {
  
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color:var(--white);
  
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
}  

.list {
list-style: none;                                
}  



.link {
  text-decoration: none;
  /* font-style: normal; */
}


.nav-page {
  background: var(--white);
  
}

.logo-web {
  color: var(--iris, #4D5AE5);
font-family: Raleway , sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.logo-studio {
  color: var(--navyblue, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.item.current {
  color: var(--iris);
}

.item {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.item:hover,
.item:focus {
  color: var(--slate);
}

.item:active {
  color: var(--iris);
}

.address {
  
  color: var(--slate, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
  }

.hero {
  background: var(--navyblue, #2E2F42);
  color: var(--white);
text-align: center;
/* Header 1 */
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: 1.07;
letter-spacing: 0.02em;
}
     /* default */
.hero-btn { 
  color: var(--white);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.04em;

border-radius: 4px;
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
  /* hover */
.hero-btn:hover,
.hero-btn:focus {
  color:var(--white);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.04em;

border-radius: 4px;
background: var(--iris, #4D5AE5);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
 /* click */
.hero-btn:active {
  color:var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04em;

  border-radius: 4px;
background:var(--ocean);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-feature {
  color: var(--navyblue, #2E2F42);
/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.2;
letter-spacing: 0.02em;
}

.hero-text {
  color: var(--slate, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.title {
  color: #2E2F42;
text-align: center;
/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.subtitle {
  color: var(--navyblue, #2E2F42);
text-align: center;
/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.4px;
}

.subtitle-text {
  color: var(--slate, #434455);
text-align: center;
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer {
  background: var(--navyblue, #2E2F42);
  color: var(--cornflower, #E7E9FC);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-text {
  
}

.footer .logo-studio {
  color: var(--cloud, #F4F4FD);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.btn-text {
  color: var(--iris, #4D5AE5);
text-align: center;
/* Button Text */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 1.5;
letter-spacing: 0.04em;
}

.title-portfolio {
  color: var(--navyblue, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.2;
letter-spacing: 0.02em;
}

.subtitle-portfolio{
color: var(--slate, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
